*.js linguist-language=java
*.html linguist-language=java
# 换行符配置
* text auto
*.sh text eol=lf
*.bat text eol=crlf
#二进制文件
*.docx binary
*.jpg binary
*.png binary
*.gif binary
*.doc binary
*.docx binary
*.pdf binary
# 强制换行符为 LF
# * text eol=lf
